.container {
    background-color: #ededed;
}

.btn-add, .btn-send {
    background-color: #11b8a1;
    color: white;
    border: none;
}

.btn-add {
    max-width: 140px;
    margin: 0 auto;
    display: block;
}

.btn-add:hover, .btn-send:hover {
    background-color: #12a390;
    color: white;
}

.btn-list-edit, .btn-list-delete {
    padding: 0px 8px 0px 8px;
    font-size: x-small;
}

.btn-list-delete:hover {
    background-color: white;
    border-color:#c70000;
    color:#c70000;
}

.btn-list-edit:hover {
    background-color: white;
    border-color:#12a390;
    color:#12a390;
}

.card-movements {
    max-width: 450px;
}

.card-amount{
    font-size: xx-large;
}

.card-left {
    max-width: 450px;
}

.card-amount, .card-title {
    font-weight: bold;
}

.footer-list {
    margin-top: -1.5rem;
}

.fst-italic {
    font-size: small;
}

.input-group{
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-body {
    white-space: pre;
}

.modal-header-add {
    background-color: #12a390;
    color: white;
}

.modal-header-delete {
    background-color: #dc3545;
    color: white;
}

.movement-type {
    padding-left: 1.8rem;
}

.text-ING {
    color: #12a390;
}

.text-EGR {
    color: #c70000;
}


@media only screen and (max-width: 600px) {

    .col-mov-amount {
        font-size: 0.9rem;
        margin-top: 0.2rem;
    }

    .col-mov-date {
        font-size: 0.7rem;
        padding: 0 0 0 0;
    }

    .container-list {
        padding-left: 0;
        margin-left: 0;
    }

    .footer-list {
        margin-top: -1.3rem;
    }


    .modal-delete-text {
        font-size: 0.85rem;
    }

    .movement-type {
        padding-left: 0.4rem;
    }

}

