.container {
    background-color: #ededed;
}

.btn-add {
    max-width: 140px;
    margin: 0 auto;
    background-color: #11b8a1;
    color: white;
    border: none;
    display: block;
}

.btn-add:hover {
    background-color: #12a390;
    color: white;
}

.card-movements {
    max-width: 450px;
}

.card-amount{
    font-size: xx-large;
}

.card-left {
    max-width: 450px;
}

.card-amount, .card-title {
    font-weight: bold;
}

.fst-italic {
    font-size: small;
}

.movement-type {
    padding-left: 1.8rem;
}

.text-ING {
    color: #12a390;
}

.text-EGR {
    color: #c70000;
}
