input[type=email], input[type=password] {
    background-color: #f6f6f6;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
    color: #0d0d0d;
    margin-bottom: 25px;
    padding: 15px 32px;
    text-align: center;
}

input[type=email]:focus, input[type=password]:focus {
    background-color: #fff;
    border: 2px solid #f6f6f6;
    border-bottom: 2px solid #dffaf6;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-login {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #11b8a1;
    border: none;
    color: white;
    font-size: 15px;
    padding: 15px 115px;
}

.btn-login:hover {
    background-color: #12a390;
    color: white;
}

.logo-login {
    width: 70%;
    height: 70%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.form-content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    max-width: 600px;
    position: relative;
}

.form-footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    display: inline-block;
    padding: 25px;
    text-align: center;
    width: 100%;
}

.links {
    text-decoration: none;
    color: rgb(95, 94, 94);
}

.links:hover {
    text-decoration: none;
    color: #12a390;
}

.toast {
    margin: 5% auto;
    left: 0;
    right: 0;
    top: 75%;
    position: fixed;
    z-index:200;
}
